.header_area .navbar{
    background: "#010838" !important;
}

.section-intro{
    max-width: 900px !important ;
}

.footer-area{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}